In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import requests
import pickle
from bs4 import BeautifulSoup
from scrapy import Selector
import threading

In [2]:
file_paths = ['name.basics.tsv',
              'title.akas.tsv',
              'title.basics.tsv',
              'title.crew.tsv',
              'title.principals.tsv',
              'title.ratings.tsv']

In [3]:
file_names=[]
for item in file_paths:
    file_name = item.split('.', 2)[0] + '_' + item.split('.', 2)[1]
    file_names.append(file_name)
    print(file_name)
    df = pd.read_csv(item, sep='\t', low_memory=False, na_values=["\\N", "nan"])
    with open(file_name + '.pkl', 'wb') as f:
        pickle.dump(df, f)

name_basics
title_akas
title_basics
title_crew
title_principals
title_ratings

In [4]:
file_names

['name_basics',
 'title_akas',
 'title_basics',
 'title_crew',
 'title_principals',
 'title_ratings']

In [6]:
loaded = pickle.load(open('title_basics.pkl', 'rb'))
df = loaded[loaded['titleType'] == 'movie']

In [9]:
df.isna().any()

tconst            False
titleType         False
primaryTitle       True
originalTitle      True
isAdult           False
startYear          True
endYear            True
runtimeMinutes     True
genres             True
dtype: bool

In [12]:
file_names

['name_basics',
 'title_akas',
 'title_basics',
 'title_crew',
 'title_principals',
 'title_ratings']

In [14]:
data_frames = {}  # Dictionary to store DataFrames

for file_name in file_names:
    # Construct the file name
    file_path = file_name + '.pkl'

    # Load the pickle file
    loaded = pickle.load(open(file_path, 'rb'))

    # Assuming 'titleType' column exists in your DataFrame
    if 'titleType' in loaded.columns:
        # Filter the DataFrame where 'titleType' equals 'movie'
        data_frames[file_name] = loaded[loaded['titleType'] == 'movie']

        # Now you can work with the DataFrame stored in the dictionary
        print(f"DataFrame for {file_name} loaded and filtered for movies.")
    else:
        print(f"DataFrame for {file_name} does not contain 'titleType' column.")
        data_frames[file_name] = loaded

# Now you can access each DataFrame using its corresponding file name
for file_name, df in data_frames.items():
    print(f"DataFrame name: {file_name}, Shape: {df.shape}")

DataFrame for name_basics does not contain 'titleType' column.
DataFrame for title_akas does not contain 'titleType' column.
DataFrame for title_basics loaded and filtered for movies.
DataFrame for title_crew does not contain 'titleType' column.
DataFrame for title_principals does not contain 'titleType' column.
DataFrame for title_ratings does not contain 'titleType' column.
DataFrame name: name_basics, Shape: (13318669, 6)
DataFrame name: title_akas, Shape: (38852244, 8)
DataFrame name: title_basics, Shape: (673650, 9)
DataFrame name: title_crew, Shape: (10606348, 3)
DataFrame name: title_principals, Shape: (60777373, 6)
DataFrame name: title_ratings, Shape: (1410562, 3)

In [18]:
data_frames.keys()

dict_keys(['name_basics', 'title_akas', 'title_basics', 'title_crew', 'title_principals', 'title_ratings'])

In [20]:
actors = data_frames['name_basics']

In [21]:
actors

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899.0,1987.0,"soundtrack,actor,miscellaneous","tt0050419,tt0072308,tt0053137,tt0027125"
1,nm0000002,Lauren Bacall,1924.0,2014.0,"actress,soundtrack","tt0075213,tt0117057,tt0038355,tt0037382"
2,nm0000003,Brigitte Bardot,1934.0,NaN,"actress,soundtrack,music_department","tt0049189,tt0054452,tt0056404,tt0057345"
3,nm0000004,John Belushi,1949.0,1982.0,"actor,soundtrack,writer","tt0072562,tt0080455,tt0078723,tt0077975"
4,nm0000005,Ingmar Bergman,1918.0,2007.0,"writer,director,actor","tt0083922,tt0069467,tt0050976,tt0050986"
...,...,...,...,...,...,...
13318664,nm9993714,Romeo del Rosario,NaN,NaN,"animation_department,art_department","tt14069590,tt11657662,tt2455546"
13318665,nm9993716,Essias Loberg,NaN,NaN,NaN,NaN
13318666,nm9993717,Harikrishnan Rajan,NaN,NaN,cinematographer,tt8736744
13318667,nm9993718,Aayush Nair,NaN,NaN,cinematographer,tt8736744
13318668,nm9993719,Andre Hill,NaN,NaN,NaN,NaN